{{ 'image-banner.css' | asset_url | stylesheet_tag }}

<style>

  @media (min-width : 769px) {
    #shopify-section-{{ section.id }} .image-banner__content {
      {%- case section.settings.content_placement -%}
      {%- when "top-left" -%}
        justify-content: flex-start;
        align-items: flex-start;
      {%- when "top-center" -%}
        justify-content: center;
        align-items: flex-start;
      {%- when "top-right" -%}
        justify-content: flex-end;
        align-items: flex-start;
      {%- when "middle-left" -%}
        justify-content: flex-start;
        align-items: center;
      {%- when "middle-center" -%}
        justify-content: center;
        align-items: center;
      {%- when "middle-right" -%}
        justify-content: flex-end;
        align-items: center;
      {%- when "bottom-left" -%}
        justify-content: flex-start;
        align-items: flex-end;
      {%- when "bottom-center" -%}
        justify-content: center;
        align-items: flex-end;
      {%- when "bottom-right" -%}
        justify-content: flex-end;
        align-items: flex-end;
      {%- endcase -%}
    }

    #shopify-section-{{ section.id }}
    .image-banner__content-inner {
      {%- if section.settings.content_alignment == "left" -%}
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
      {%- elsif section.settings.content_alignment == "center" -%}
        text-align: center;
        justify-content: center;
        align-items: center;
      {%- else -%}
        text-align: right;
        justify-content: flex-end;
        align-items: flex-end;
      {%- endif -%}
    }

  }
</style>

<div class="image-banner">
  <div class="image-banner__image">
    {% if section.settings.background_image != blank %}
      <img
        src="{{ section.settings.background_image | image_url: width: 2000 }}"
        width=""
        height=""
        alt="{{ section.settings.background_image.alt }}"
        class="image-banner__image-img">
    {% endif %}
  </div>
  <div class="image-banner__content page-width">
    <div class="image-banner__content-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'subtitle' %}
            <p class="subtitle color-green">{{ block.settings.subtitle }}</p>
          {% when 'heading' %}
            <h1 class="heading h1">{{ block.settings.heading }}</h1>
          {% when 'button' %}
            <a href="{{ block.settings.button_link }}" class="cta-button">{{ block.settings.button_label }}</a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "select",
        "id": "content_placement",
        "options": [
          {
            "value": "top-left",
            "label": "Top Left"
          },
          {
            "value": "top-center",
            "label": "Top Center"
          },
          {
            "value": "top-right",
            "label": "Top Right"
          },
          {
            "value": "middle-left",
            "label": "Middle Left"
          },
          {
            "value": "middle-center",
            "label": "Middle Center"
          },
          {
            "value": "middle-right",
            "label": "Middle Right"
          },
          {
            "value": "bottom-left",
            "label": "Bottom Left"
          },
          {
            "value": "bottom-center",
            "label": "Bottom Center"
          },
          {
            "value": "bottom-right",
            "label": "Bottom Right"
          }
        ],
        "default": "middle-center",
        "label": "Content Placement"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Content Alignment"
      }
    ],
    "blocks": [
      {
        "type": "subtitle",
        "name": "Subtitle",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "default": "SHOPIFY ECOMMERCE EXPERTS",
            "label": "Subtitle"
          }
        ]
      },
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "WE DESIGN, BUILD AND OPTIMISE EXCEPTIONAL ECOMMERCE WEBSITES.",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "START YOUR PROJECT",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image banner",
        "category": "Hero"
      }
    ]
  }
{% endschema %}